@import "../scss/general";

.CompanyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;
  @include  for-tablet-landscape-up{
    width:50%;
    display: flex;
    justify-content: center;
  }

  color:$white;
  font-family: $primaryFont;

  .company-name{
   color:$primary;
    font-family: $headerFont;
    margin-bottom:0;
  }

  .company-phrase {
    margin-top: 3px;
    font-style: italic;
    font-weight: 100;
  }
}