
@import "../scss/general";

.UserPage {
  width:100%;
  //stop if filling entire ultra wides
  max-width:1500px;
  margin-left: auto;
  margin-right: auto;
.return--container {
  margin-left: 10px;
  margin-top: 20px;
  @include  for-tablet-landscape-up {
    margin-left:20%;
  }
  .return {
    color: white;

    &:active {
      color: $accent;
    }
  }
}

  .title {
    text-align: center;
    color: #61dafb;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    border-bottom: 4px solid #dc71cb;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    @include  for-tablet-landscape-up {
      margin-bottom: 100px;
    }
  }
.info--container {

  @include  for-tablet-landscape-up{
    display: flex;
    flex-wrap: wrap;
  }
  .profile-picture--container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    @include  for-tablet-landscape-up{
      width:50%;
    }
    .profile-picture {
      width: 50%;
      max-width: 400px;
    }
  }

  .map--container {
    height: 500px;
    @include  for-tablet-landscape-up{
      width: 50%;
      height: 400px;
      padding: 2%;
    }
    .map{
      height: 100%;
      width: 100%;
    }
  }
}
}