@import "../scss/general";

.HomePage{
  width:100%;
  //stop if filling entire ultra wides
  max-width:1500px;
  margin-left: auto;
  margin-right: auto;
  .users--container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .filter-search--container {
  width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    @include  for-tablet-landscape-up{
      width:300px;
      margin-left: auto;
      margin-right: auto;
    }
    .fa-search{
    color: white;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 1.3rem;
  }
    .filter-search{
      width: 100%;
      height: 30px;
      font-family: $primaryFont;
      font-size: 1.2rem;
      padding-left: 10px;
      color: blue;
      font-weight: 700;
    }
  }
}